#divtop
{
	background-color:#EFF5FB;
	color: #FFBF00;
	text-align: center;
	font-size: 40px; 
}

#divbottom
{
	background-color:#58FAF4;
	/*text-align: center;*/
	text-color: #EFF5FB; 
}
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
float:left;
}
a:link,a:visited
{
display:block;
width:206px;
font-weight:bold;
color:#FAFAFA;
background-color:#FFBF00;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#FF8000;
}